.currentTemp li {
  list-style: none;
}

.currentTemp ul {
  padding: 0;
}
.currentTemp .weather-image {
  font-size: 70px;
  line-height: 15px;
}
.currentTemp .currentTemp {
  font-size: 40px;
}

.currentTemp .last-updated {
  font-size: 16px;
}
.currentTemp .card-subtitle {
  font-size: 16px;
}

.currentTemp .city {
  font-size: 25px;
  display: block;
  font-family: "Fjalla One", sans-serif;
  color: bisque;
}

.currentTemp .weather-image {
  position: relative;
  right: -15px;
}
.card-body {
  width: 620px;
}
.currentTemp .card.ml-2 {
  max-height: 220px;
  max-width: 350px;
}

.currentTemp .card-body.day {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 0 15px;
  width: 350px;
}

.currentTemp .card-title {
  font-size: 8px;
  color: bisque;
}

.currentTemp sup {
  font-size: 13px;
}
.currentTemp .city {
  position: relative;
  bottom: 20px;
}
.currentTemp .temp-description {
  position: relative;
  top: 70px;
  left: 20px;
}
.currentTemp .temp-description .active {
  color: bisque;
  cursor: default;
}
.currentTemp .temp-description .active:hover {
  text-decoration: none;
}
